.main {
  box-sizing: border-box;
  flex: 1;
  width: 100%;
  margin-top: 40px;
  padding: 0 40px;
}

.main__banner {
  margin: 34px 0 0;
  color: var(--color-text-primary);
}

.main__cards-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, var(--item-card-width));
  gap: var(--item-card-gap);
  justify-content: start;
  max-height: 676px;
  margin: 34px 0 0;
  padding: 0;
  overflow-y: auto;
  list-style: none;
}

@media screen and (max-width: 768px) {
  .main {
    padding: 0 16px;
  }

  .main__cards-list {
    grid-template-columns: repeat(2, 1fr);
    gap: var(--item-card-gap);
  }
}
